<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Osiris.Tfs.Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Osiris.Tfs.Monitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Osiris.Tfs.Monitor.Properties.Settings>
            <setting name="TfsUri" serializeAs="String">
                <value/>
            </setting>
            <setting name="TfsUser" serializeAs="String">
                <value/>
            </setting>
            <setting name="TfsDomain" serializeAs="String">
                <value/>
            </setting>
            <setting name="TfsPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="TfsUseLocalAccount" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SlideshowTurnOffScreenSaver" serializeAs="String">
                <value/>
            </setting>
            <setting name="SlideshowMonitors" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserProfilesUri" serializeAs="String">
                <value>http://192.168.17.64/OsirisTfsUsers</value>
            </setting>
            <setting name="RecentFiles" serializeAs="String">
                <value/>
            </setting>
            <setting name="CallUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
        </Osiris.Tfs.Monitor.Properties.Settings>
    </userSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
 <system.serviceModel>
  <bindings/>
  <client/>
 </system.serviceModel>
 <applicationSettings>
  <Osiris.Tfs.Monitor.Properties.Settings>
   <setting name="OsirisTFSMonitor_OsirisExceptionClient_Service" serializeAs="String">
    <value>http://exceptions.osiris.no/Service.asmx</value>
   </setting>
  </Osiris.Tfs.Monitor.Properties.Settings>
 </applicationSettings>
</configuration>
